.row {
  display: flex;
  padding: 3rem 0;
  border-bottom: 1px solid #eee;
}

@media screen and (max-width: 960px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
