.row-left {
  flex-basis: 18rem;
  padding-right: 1rem;
  flex-shrink: 0;
}

@media screen and (max-width: 960px) {
  .row-left {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding-right: 0;
    padding-bottom: 1rem;
  }
}
