#contact {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 1rem;
}
#contact a:hover {
  color: teal;
  cursor: pointer;
}

#contact a {
  margin: 0 0.3rem;
  text-decoration: underline;
  color: #5e5e5e;
}
