/*@font-face {
  font-family: "IBMPlexSansKR-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
*/

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

a {
  color: rgb(90, 171, 163);
}

//a:visited {
//  color: rgb(167, 121, 93);
//}
